<?xml version="1.0"?>
<robot name="tw_base_v2_sim" xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo reference="part_1"><!--base_link-->
        <material>Gazebo/DarkGrey</material>
    </gazebo>


    <gazebo reference="n20-43mm-d-shaft-wheel-1.snapshot.9_2"><!--wheel_left_link>-->
        <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo reference="n20-43mm-d-shaft-wheel-1.snapshot.9"><!--wheel_right_link-->
        <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo reference="ball">
        <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo reference="ball_2">
        <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo>
        <plugin name="tw_base_v2_controller" filename="libgazebo_ros_diff_drive.so">
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <odometrySource>world</odometrySource>
        <publishOdomTF>true</publishOdomTF>
        <robotBaseFrame>base_footprint</robotBaseFrame>
        <publishWheelTF>true</publishWheelTF>
        <publishTf>true</publishTf>
        <publishWheelJointState>true</publishWheelJointState>
        <legacyMode>true</legacyMode>
        <updateRate>30</updateRate>
        <leftJoint>LM_Revolute</leftJoint>
        <rightJoint>RM_Revolute</rightJoint>
        <wheelSeparation>0.07835</wheelSeparation>
        <wheelDiameter>0.043</wheelDiameter>
        <wheelAcceleration>1</wheelAcceleration>
        <wheelTorque>10</wheelTorque>
        <rosDebugLevel>na</rosDebugLevel>
        </plugin>
    </gazebo>

</robot>